@charset "utf-8";
/* CSS Document */

html, body, #map {
	padding: 0;
	/*margin: 0;*/
	font-size: 13px;
	font-family: Helvetica, arial, freesans, clean, sans-serif;
}
#map {
	height: 400px;
	border: 1px solid #AAA;
	margin-bottom: 15px;
}

.box {
	float: left;
	width:400px;
	margin-right: 20px;
	border: 1px solid #AAA;
}

.box h2 {
	margin: 0;
	padding: 5px;
	background-color: #DDD;
}

#info, #events {
	width: 98%;
	height: 250px;
	margin-top: 1px;
	border: none;
}
