@charset "utf-8";
/* CSS Document */

html, body, #map {
	padding: 0;
	/*margin: 0;*/
	font-size: 13px;
	font-family: Helvetica, arial, freesans, clean, sans-serif;
}

.box {
	float: left; 
	width: 300px;
	margin-right: 20px;
	border: 1px solid #AAA;
}

.box h2 {
	margin: 0;
	padding: 5px;
	background-color: #DDD;
}

.box div {
	overflow-y: scroll;
	height: 430px; 
}

.box ol {
	height: 430px; 
}

#provider-selection {
    padding-left: 10px;
    display: inline-block;
}

#wrapper {
	height: 400px;
	width: 1000px;
	margin: 20px;
}

#map {
	position: relative;
	width: 700px !important;
	height: 300px !important;
	float: left;
	margin: 0 20px 20px 0
}

#box-wrapper {
	margin-top: 20px;
	clear: both;
}
